<div class="well">
	<section class="vote">
		<% if logged_in? %>
			<% if comment.votes.where(user_id: current_user.id).blank? %>
				<%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: "post" do %>
					<span class=" glyphicon glyphicon-chevron-up"></span>
				<% end %>
				<%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: "post" do %>
					<span class=" glyphicon glyphicon-chevron-down"></span>
				<% end %>
			<% else %>
				<small>
					<%= link_to "Undo", undo_vote_post_comment_path(comment.post, comment), method: "delete", data: { confirm: "Are you sure?" } %>
				</small>
			<% end %>
		<% end %>
	</section>
	<p>
		<%= comment.body %>
	</p>
	<p>
		<small class="quiet">
			<%= pluralize(comment.total_votes, "points") %>
			by <%= comment.creator.username %>
			<%= distance_of_time_in_words_to_now(comment.created_at) %> ago
		</small>
	</p>
</div>
