<div class="well">
	<section class="vote">
		<% if logged_in? %>
			<% if comment.voted?(@current_user) %>
				<%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: "post", remote: true do %>
					<span class=" glyphicon glyphicon-chevron-up"></span>
				<% end %>
				<%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: "post", remote: true do %>
					<span class=" glyphicon glyphicon-chevron-down"></span>
				<% end %>
			<% else %>
				<small>
					<%= link_to "Undo vote", undo_vote_post_comment_path(comment.post, comment), method: "delete", data: { confirm: "Are you sure?" }, remote: true %>
				</small>
			<% end %>
		<% end %>
	</section>
	<p>
		<%= comment.body %>
	</p>
	<p>
		<small class="quiet">
			<span id="comment_<%= comment.id %>_vote">
				<%= pluralize(comment.total_votes, "points") %>
			</span>
			by <%= comment.creator.username %>
			<%= distance_of_time_in_words_to_now(comment.created_at) %> ago
		</small>
	</p>
</div>
