$('#comment_<%= @comment.id %>_vote').html('<%= pluralize(@comment.total_votes, "points") %>')
$('#comment_<%= @comment.id %>_vote_undo').remove();
$('#comment_<%= @comment.id %>_vote_area').append('<%= link_to vote_post_comment_path(@comment.post, @comment, vote: true), method: "post", remote: true, id: "comment_#{@comment.id}_vote_up" do %><span class=" glyphicon glyphicon-chevron-up"></span><% end %><%= link_to vote_post_comment_path(@comment.post, @comment, vote: false), method: "post", remote: true, id: "comment_#{@comment.id}_vote_down" do %><span class=" glyphicon glyphicon-chevron-down"></span><% end %>')
