<h1><%= @user.username %>'s</h1>

<ul id="userContentTabs" class="nav nav-tabs" role="tablist">
<li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
  <li><a href="#posts" data-toggle="tab">Posts</a></li>
  <li><a href="#comments" data-toggle="tab">Comments</a></li>
</ul>


<div id="tab-content" class="tab-content">
  <div class="tab-pane fade active" id="profile">
    <%= image_tag("InProgress.jpg") %>
  </div>
  <div class="tab-pane fade" id="posts">
    <% if @user.posts.blank? %>
      <%= image_tag("InProgress.jpg") %>
    <% else %>
      <% @user.posts.each do |post| %>
        <%= render post %>
      <% end %>
    <% end %>
  </div>
  <div class="tab-pane fade" id="comments">
    <% if @user.comments.blank? %>
      <%= image_tag("InProgress.jpg") %>
    <% else %>
      <% @user.comments.each do |comment| %>
        <section>
          replied to the post:
          <%= comment.post.title %>
          <%= render comment %>
        </section>
      <% end %>
    <% end %>
  </div>
</div>
