<%= form_for @post do |f| %>

  <%= render "shared/errors", object: @post %>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <%= f.label :title %>
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <%= f.text_field :title, class:"form-control" %>
      </div></br>

      <%= f.label :url %>
      <div class="input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-link"></span>
        </span>
        <%= f.url_field :url, class:"form-control" %>
      </div></br>

      <%= f.label :description %>
      <div class="input-group">
        <span class="glyphicon glyphicon-pencil"></span>
        <%= f.text_area :description, class:"form-control" %>
      </div></br>

      <%= f.submit "Submit", class:"btn btn-primary" %>
    </div>
  </div>
<% end %>
