<%= form_for @post do |f| %>
  <%= render "shared/errors", object: @post %>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8">
      <%= f.label :title %>
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <%= f.text_field :title, class:"form-control" %>
      </div></br>
      <%= f.label :url %>
      <div class="input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-link"></span>
        </span>
        <%= f.url_field :url, class:"form-control" %>
      </div></br>
      <%= f.label :description %>
      <div class="input-group">
        <span class="glyphicon glyphicon-pencil"></span>
        <%= f.text_area :description,cols: 60, rows: 5, class:"form-control" %>
      </div></br>
      <%= collection_check_boxes :post, :category_ids, Category.all, :id, :name do |b| %>
        <div class="checkbox">
        <%= b.label { b.check_box(class:"checkbox") + b.text } %>
        </div>
      <% end %>
      </br>
      <%= f.submit(@post.new_record? ? "Create Post" : "Update Post", class:"btn btn-primary") %>
    </div>
  </div>
<% end %>
