<h4>
  <%= link_to post.url do %>
    <%= post.title %> <span class="label label-default">New</span>
  <% end %>
</h4>
<p><%= post.description %></p>
<p>
  <span class="quiet">posted by</span> <%= post.creator.username %>
  <small>at <%= time_tag post.created_at %></small>
</p>
