<h4>
  <%= post.title %>
  <% url = ActionDispatch::Http::URL.extract_subdomains(post.url) %>
  <small>(<%= link_to (url[1]), post.url %>)</small>
</h4>f
<p>
  <%= post.description %>
</p>
<p>
  <small class="quiet">
    by <%= post.creator.username %>
    <%= distance_of_time_in_words_to_now(post.created_at) %> ago |
    <%= link_to pluralize(post.comments.size, "comment"), post_path(post)%> |
    <%= link_to 'edit', edit_post_path(post) %>
  </small>
</p>
