<div class="well">
  <section id="post_<%= post.id %>_vote_area" class="vote_area">
    <% if logged_in? %>
      <% if post.voted?(@current_user) %>
        <%= link_to vote_post_path(post, vote: true), method: "post", remote: true, id: "post_#{post.id}_vote_up" do %>
          <span class=" glyphicon glyphicon-chevron-up"></span>
        <% end %>
        <%= link_to vote_post_path(post, vote: false), method: "post", remote: true, id:
"post_#{post.id}_vote_down" do %>
          <span class=" glyphicon glyphicon-chevron-down"></span>
        <% end %>
      <% else %>
          <%= link_to "Undo vote", undo_vote_post_path(post), method: "delete", remote: true, id: "post_#{post.id}_vote_undo" %>
      <% end %>
    <% end %>
  </section>

  <span class="glyphicon glyphicon-tags"></span>
    <%= render post.categories %>
  <h4>
    <%= post.title %>
    <small>(<%= link_to URI(post.url).host, post.url %>)</small>
  </h4>
  <p>
    <%= post.description %>
  </p>
  <p>
    <small class="quiet">
      <span id="post_<%= post.id %>_vote">
        <%= pluralize(post.total_votes, "points") %>
      </span>
      by <%=link_to post.creator.username, user_path(post.creator) %>
      <%= distance_of_time_in_words_to_now(post.created_at) %> ago |
      <%= link_to pluralize(post.comments.size, "comment"), post_path(post)%> |
      <% if logged_in? && current_user?(post.creator) %>
        <%= link_to 'edit', edit_post_path(post) %>
      <% end %>
    </small>
  </p>
</div>
